:root {
	--color-white: #ffffff;
	--color-bg: #eeeeee;
	--color-bg-dark: #f7f7f7;
	--color-grey: #87a0a1;
	--color-text: #222831;
	--color-accent: #00adb5;
	--color-scrollbar: #f7f7f7;
}

html.dark {
	--color-bg: #222831;
	--color-bg-dark: #090f18;
	--color-grey: #657879;
	--color-text: #eeeeee;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
li {
	list-style: none;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	/* background: rgb(81, 87, 111); */
	background: linear-gradient(45deg, #6984b1 0%, #b9d7dd 100%);
}
#root {
	width: 100%;
	max-width: 500px;
	height: 60%;
	background-color: var(--color-bg-dark);
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

button {
	border: none;
	outline: none;
}

::-webkit-scrollbar {
	width: 0.5rem;
}
::-webkit-scrollbar-track {
	background-color: var(--color-bg-dark);
}
::-webkit-scrollbar-thumb {
	background-color: var(--color-scrollbar);
}
::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-accent);
}
